<h2>Resend confirmation instructions</h2>
<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name),wrapper: :horizontal_form, html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <%= f.input :email, required: true, autofocus: true %>

  <div class="form-actions">
    <%= f.button :submit, "Resend confirmation instructions" %>
  </div>
</div>
<%= render "users/shared/links" %>
